<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Leo's Casa</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
<!--      <a mat-list-item routerLink="/cart">Cart</a>-->
      <a mat-list-item routerLink="/order">Order</a>
      <hr>
      <a mat-list-item routerLink="/antipasti">Antipasti</a>
      <a mat-list-item routerLink="/crossover">Cross Over</a>
      <a mat-list-item routerLink="/pasta">Pasta</a>
      <a mat-list-item routerLink="/winter">Winter Angebote</a>
      <a mat-list-item routerLink="/sommer">Sommer Angebote</a>
      <a mat-list-item routerLink="/kaffe">Kaffe</a>
      <a mat-list-item routerLink="/cocktails">Cocktails</a>
      <a mat-list-item routerLink="/vino">Vino</a>
      <a mat-list-item routerLink="/prozentiges">Prozentiges</a>
      <a mat-list-item routerLink="/login">Login</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
<!--      <span>leo</span>-->
    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
