/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


table {
  width: 98%;
  margin: 15px;

  tr:hover {
    background-color: #3f51b5;
    cursor: pointer;

    .mat-cell {
      color: white;
    }
  }
}
